html, body{
    
    background-repeat: no-repeat;
    background-size: 1400px 700px;
    background-color: white;
}

.hidden button{
    display: none;
    
}

.hidden:hover button {
    display: block;
}